body{
    background-image: url(bernard-hermant-SxNGG1MJ_IQ-unsplash.jpg) ;
    background-size:cover;
    font-size: 25px;


color: rgb(3, 65, 52);

} h1{
    
    color: rgb(208, 58, 3);
}
 h2{
    
    color: rgb(84, 3, 84);
 }

