body{
background-color: rgb(182, 222, 158);
color: rgb(17, 10, 50);

} h1{
    background-color: rgb(252, 90, 36);
    color: rgb(73, 5, 18);
}
 h2{
    background-color: rgb(224, 147, 224);
    color: rgb(18, 26, 5);
 }